<div class="user {{classUser}}">
    <div class="user__avatar">
        <img src="../assets/img/avatar.svg" alt="Аватарка пользователя">
    </div>
    <div class="user__info">
        <div class="user__message">
            <strong>{{name}}</strong>
            <p>{{time}}</p>
        </div>
        <div class="user__message">
            <p><span class="user__your-message">{{yourMessage}}</span>{{message}}</p>
            <span class="{{ClassUserCounter}}">{{counter}}</span>
        </div>
    </div>
</div>